{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Izbor pretrage</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static './CSS/main_page.css' %}" rel="stylesheet" />
    <link href="{% static './CSS/reg_org.css' %}" rel="stylesheet" />
    <script src="{% static './JS/switchPage.js' %}"></script>
    <script src="{% static './JS/switchPage.js' %}"></script>
  </head>
  <body style="background-color: #fcfdfa">
    {{navbar|safe}}
    <div
      class="container-fluid d-flex"
      style="
        justify-content: center;
        padding: 0px;
        padding-top: 70px;
        height: 100vh;
        margin: 0px;
      "
    >
      <div>
        <h2
          style="
            color: #37401c;
            padding-bottom: 40px;
            justify-content: center;
            padding-left: 250px;
          "
        >
          Izbor Pretrage
        </h2>
        <button
          class="dugme"
          onclick="switchPage('search_volunteer')"
          style="width: 300px"
        >
          Volonter
        </button>
        <button
          class="dugme"
          onclick="switchPage('search_organization')"
          style="width: 300px"
        >
          Organizacija
        </button>
      </div>
    </div>
    {{footer|safe}}
  </body>
</html>
