{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- <link href="/Users/kosta01856/Documents/bootstrap-5.3.3-dist/css/bootstrap.css' %}" rel="stylesheet">
			<script src="/Users/kosta01856/Documents/bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>
			-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link href="{% static './CSS/main_page.css' %}" rel="stylesheet">
    <title>BudiVolonter!</title>
    <script src="{% static './JS/switchPage.js' %}"></script>
  </head>
  <body style="background-color: #fcfdfa">
    {{navbar|safe}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="background-color: #f8faf3">
          <div id = 'cardbox'>
          {%for act in acts%}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{act.naziv}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{act.organizacija}}</h6>
              <p class="card-text">{{act.datumod|date:'d.m.Y'}}-{{act.datumdo|date:'d.m.Y'}}</p>
              <a href="profile?id={{act.idorg}}" class="card-link">Profil organizacije</a>
            </div>
          </div>
          {%endfor%}
        </div>
        </div>
      </div>
    </div>
    {{footer|safe}}
    <style>
      #cardbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
      }
    </style>
  </body>
</html>
