.aktivnost{
    background-color: #F2FAFB;
    border-color: #9DDDE7;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    padding-top: 20px;
}